body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    background-color: #f0f0f0;

    font-size: 12px;
    font-family: monospace;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-align: justify;
}

p {
    text-indent: 10px;
}

nav {
    max-width: 500px;
    padding: 20px;

    background-color: rgba(223, 223, 223, 0.808);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>a:any-link {
    color: black;
    margin: 0px 15px;
}

main {
    padding: 20px;
}

.imp {
    padding: 3px;

    font-family: monospace;
    font-weight: bold;
    color: rgb(253, 69, 69);

    background-color: #d7d7d7;
}

.section-title {
    padding: 10px 0px;
    margin: 0px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}

section {
    margin: 35px 0px;
}

/* Link colors */
a:any-link {
    color: rgb(53, 167, 219);
}

a:active {
    color: rgb(47, 145, 190);
}